:root {
  /* https://stephango.com/flexoki */
  --background: rgb(255, 252, 240);
  --secondary: rgb(242, 240, 229);
  --foreground: rgb(16, 15, 15);
  --muted-foreground: rgb(111, 110, 105);
  --faint-foreground: rgb(183, 181, 172);
  --accent-foreground: rgb(36, 131, 123);
  --success-foreground: rgb(102, 128, 11);
  --destructive-foreground: rgb(175, 48, 41);
  --warning-foreground: rgb(188, 82, 21);
  --border: rgb(230, 228, 217);
  --hovered-border: rgb(218, 216, 206);
  --active-border: rgb(206, 205, 195);
  --radius: 0.25rem;
  --font-family: 'jiangxizhuokai', sans-serif;
}

.dark {
  --background: rgb(16, 15, 15);
  --secondary: rgb(28, 27, 26);
  --foreground: rgb(206, 205, 195);
  --muted-foreground: rgb(135, 133, 128);
  --faint-foreground: rgb(87, 86, 83);
  --accent-foreground: rgb(58, 169, 159);
  --success-foreground: rgb(135, 154, 57);
  --destructive-foreground: rgb(209, 77, 65);
  --warning-foreground: rgb(218, 112, 44);
  --border: rgb(40, 39, 38);
  --hovered-border: rgb(52, 51, 49);
  --active-border: rgb(64, 62, 60);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem 0;
  background-color: var(--background);
  color: var(--foreground);
  line-height: 1.5;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
}

.title {
  margin: 1rem 0;
  font-size: 2rem;
}

button {
  border: 2px solid var(--border);
  border-radius: var(--radius);
  background-color: transparent;
  color: var(--foreground);
  cursor: pointer;
}

button:hover {
  border-color: var(--hovered-border);
  background-color: var(--secondary);
}

.toggle {
  width: 4rem;
  padding: 0.5rem;
}
