body {
  background-color: var(--background);
  color: var(--foreground);
  line-height: 1.5;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

.app {
  display: grid;
  grid-template-columns:
    1fr
    min(var(--viewport-width), calc(100% - var(--viewport-padding) * 2))
    1fr;
  gap: 0 var(--viewport-padding);
}

.app > * {
  grid-column: 2;
}

.full-bleed {
  grid-column: 1 / -1;
  width: 100%;
}
