*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: 2px solid var(--border);
  border-radius: var(--radius);
  outline: none;
  background-color: transparent;
  color: var(--foreground);
  cursor: pointer;
}

button:hover {
  border-color: var(--hovered-border);
  background-color: var(--secondary);
}

button:focus {
  border-color: var(--active-border);
}

a {
  all: unset;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  line-height: 1.5;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
